# NODE ENV
NODE_ENV='development'

# PORT
PORT=

# VERSIONING
API_VERSION1='/api/v1'

# DATABASE URI
DB_URI=

# JWT AUTHENTICATION
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN='15m'
JWT_REFRESH_TOKEN_EXPIRES_IN='30d'
JWT_REFRESH_TOKEN=